@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-head: var(--font-head);
  --font-sans: var(--font-sans);
  --radius: var(--radius);

  --shadow-xs: 1px 1px 0 0 var(--popout);
  --shadow-sm: 2px 2px 0 0 var(--popout);
  --shadow: 3px 3px 0 0 var(--popout);
  --shadow-md: 4px 4px 0 0 var(--popout);
  --shadow-lg: 6px 6px 0 0 var(--popout);
  --shadow-xl: 10px 10px 0 1px var(--popout);
  --shadow-2xl: 16px 16px 0 1px var(--popout);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

:root {
  color-scheme: light;
  --radius: 0;
  --background: #fff;
  --foreground: #000;
  --card: #fff;
  --card-foreground: #000;
  --popover: #fff;
  --popover-foreground: #000;
  --primary: #ffdb33;
  --primary-hover: #ffcc00;
  --primary-foreground: #000;
  --secondary: #000;
  --secondary-foreground: #fff;
  --muted: #aeaeae;
  --muted-foreground: #5a5a5a;
  --accent: #fae583;
  --accent-foreground: #000;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #000;
  --popout: #000;
  --input: #fff;
  --ring: #ffcc00;
}

.dark {
  color-scheme: dark;
  --background: #101010;
  --foreground: #f4f4f5;
  --card: #1a1a1a;
  --card-foreground: #f4f4f5;
  --popover: #1a1a1a;
  --popover-foreground: #f4f4f5;
  --primary: #55007a;
  --primary-hover: #910083;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #111111;
  --muted: #2a2a2a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #f4f4f5;
  --destructive: #ff5a66;
  --destructive-foreground: #ffffff;
  --border: #3f3f46;
  --popout: #3f3f46;
  --input: #101010;
  --ring: #d6a800;
}
